<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Emulating Native</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="app"></div>


    <% include ../partials/footer %>
  </body>
</html>